.guest_speaker, .intro {
	@include full_block();
	border-top: 2px solid $white;
	padding: 6em 0;
	.speaker_content, .intro_content {
		@include grid_row();
	}
}

.intro {
	background-color: $bro;
	.intro_content {
		.entry {
			@include grid_column(12, $center:true);
			text-align: center;
			@include bp(medium_up) {
				@include grid_column(8);
				text-align: left;
			}
			* {
				color: $white;
				h6 {
					color: $yel;
					margin-bottom: 0;
				}
			}
		}
	}
}

.guest_speaker {
	text-align: center;
	background-color: $black;
	padding: 6em 0 3em;
	min-height: 500px;
	position: relative;
	.tint {
		background-color: black(0.6);
		z-index: -1;
	}
	.headshot {
		@include abs_pos( -75px, auto, auto, 50%);
		margin-left: -75px;
		width: $headshot_w;
		height: $headshot_w;
		.speaker {
			@include border_radius(50%);
			background-color: $black;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 120%;
			border: 5px solid $white;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.special_guests, .col_1, .col_2 {
			position: absolute;
		}
		.special_guests {
			@include f_ossb();
			color: $tan;
			text-transform: uppercase;
			width: 100%;
			bottom: 35px;
			.col_1 {
				left: -45%;
			}
			.col_2 {
				right: -40%;
			}
		}
	}
	.speaker_content {
		.entry {
			@include grid_column(12, $center: true);
			@include bp(medium_up) {
				@include grid_column(8, $center: true);
			}
			.content {
				* {
					color: $white;
				}
				.title {
					font-size: em(30px);
				}
			}
		}
	}
}